<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Page</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>QR Code for Payment</h1>
    <img src="{{ url_for('static', filename='qr_code.png') }}" alt="QR Code">
    <br>
    <a href="{{ url_for('static', filename='bill.pdf') }}" download>Download Bill PDF</a>
    <br>
    <a href="{{ url_for('index') }}">Record again</a>
</body>
</html>
